* {
  /* ttf-jetbrains-mono-nerd, noto-fonts-cjk, noto-fonts-emoji, noto-fonts from Arch repo, uses "nf-md" Nerd Fonts icons */
  font-family: "JetBrainsMono NF";
  font-weight: 500;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}

button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #808080;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  color: #ffffff;
}

#workspaces button.urgent {
  color: #f5c03c;
}

#workspaces,
#window,
#clock,
#mpd,
#wireplumber,
#network,
#cpu,
#memory,
#backlight,
#battery,
#bluetooth,
#tray {
  margin: 0 6px;
  padding: 2px 0;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #eb4d4b;
}
